[project]
	description = Rapol projects started online
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rapolrajkishore
[access "refs/for/refs/*"]
	read = group user/rapolrajkishore
	push = group user/rapolrajkishore
	label-Code-Review = -2..+2 group user/rapolrajkishore
	label-Verified = -1..+1 group user/rapolrajkishore
	rebase = group user/rapolrajkishore
	removeReviewer = group user/rapolrajkishore
	submit = group user/rapolrajkishore
[access "refs/heads/*"]
	read = group user/rapolrajkishore
	create = group user/rapolrajkishore
	push = +force group user/rapolrajkishore
	pushMerge = group user/rapolrajkishore
[access "refs/tags/*"]
	push = group user/rapolrajkishore
	push = +force group user/rapolrajkishore
